
    <h1>Kontakt</h1>
    <p>
      Kontaktiere Niko fuer Infos ueber die Sampleapp. Infos zu Rails Tutorial gibts hier:
      <a href="http://railstutorial.org/feedback">feedback page</a>.
    </p>
 