
		<h1>Sample App</h1>
		<p>
			Das ist die Homepage fuer Nikos Sampleapp <b>
				Inspiriert von <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.
		</p>
		
		<%= link_to "Sign up now!", '#', :class => "signup_button round" %>